.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 6.25rem;
  width: 100%;
}

.header__container {
  padding: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10%;

  h1 {
    font-weight: 700;
    font-size: 4rem;
    text-transform: capitalize;
    font-style: bold;
  }

  p {
    font-weight: 400;
    font-size: 2rem;
    width: auto;
    height: auto;
    line-height: 155%;
  }
  img {
    max-width: 60%;
  }
}

.header__container-content_buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.header__container-content_buttons button {
  margin-top: 2rem;
  width: 10rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 6px;
  font-family: var(--font-family);
  font-size: 1.25rem;
  font-weight: 700;
}

.btn__projects {
  background-color: var(--color-secondary);
  color: white;
  cursor: pointer;
}
.btn__resume {
  background-color: var(--color-bg);
  color: var(--color-secondary);
  cursor: pointer;
}

@media screen and(max-width: 1050px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding-top: 3.25rem;
  }
  .header__container {
    flex-direction: column;

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 2rem;
    }
    img {
      order: 1;
      width: 70%;
    }
  }
  .header__container-content {
    order: 2;
    margin-top: 2.5rem;
  }
  .header__container-content_buttons {
    justify-content: center;
    gap: 2.5rem;
    button {
      width: 15rem;
      height: 4rem;
      font-size: 1.75rem;
    }
  }
}
@media screen and (max-width: 700px) {
  .header__container {
    img {
      order: 1;
      width: 50rem;
    }
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
    }
  }
  .header__container-content {
    order: 2;
  }

  .header__container-content_buttons {
    gap: 1.5rem;
    button {
      width: 12rem;
      height: 3.5rem;
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 550px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .header__container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .header__container-content {
    gap: 1.5rem;
    button {
      width: 8rem;
      height: 2.5rem;
      font-size: 1rem;
    }
  }
}
