.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  background-color: var(--color-bg);
  padding: 0.5rem 0.5rem;
  opacity: 0.9;
}

.navbar__links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 6rem 0.5rem 6rem;

  p {
    overflow: hidden;
  }
  img {
    height: auto;
    width: 7rem;
    cursor: pointer;
  }
}

.navbar__links-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;

    margin: 0 3rem;
    cursor: pointer;
  }
}

.navbar__menu {
  margin-left: 1rem;

  display: none;
  position: relative;

  svg {
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: lowercase;

    margin: 0 3rem;
    cursor: pointer;
  }
}

.navbar__menu-container_links {
  display: flex;
  flex-direction: column;

  text-align: end;
  background-color: var(--color-bg);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border: 2px solid black;
  border-radius: 6px;
  p {
    margin: 1rem 0;
  }
}
.navbar__links-effect {
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
  }
}
@media screen and (max-width: 1050px) {
  .navbar__links {
    flex: 0;
    gap: 30rem;
    margin: 0;
    padding: 1rem 4rem;
  }
  .navbar__links-container {
    display: none;
  }

  .navbar__menu {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 700px) {
  .navbar__links {
    gap: 20rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar__links {
    gap: 10rem;
  }
}
