.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100vw;
  position: fixed;
  background-color: var(--color-bg);
  padding: 2rem 4rem;
}

.navbar__links {
  flex: 1;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.08em;
    text-transform: lowercase;

    margin: 0 3rem;
    cursor: pointer;
  }
  p {
    overflow: hidden;
  }
}

.navbar__links-logo img {
  width: 10rem;
  height: 4rem;
  cursor: pointer;
}

.navbar__links-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.navbar__menu {
  margin-left: 1rem;

  display: none;
  position: relative;

  svg {
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.08em;
    text-transform: lowercase;

    margin: 0 3rem;
    cursor: pointer;
  }
}

.navbar__menu-container_links {
  display: flex;
  flex-direction: column;

  text-align: end;
  background-color: var(--color-bg);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border: 2px solid black;
  border-radius: 6px;
  p {
    margin: 1rem 0;
  }
}
.navbar__links-effect {
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
  }
}
@media screen and (max-width: 1050px) {
  .navbar__links-container {
    display: none;
  }

  .navbar__menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 550px) {
  .navbar {
    padding: 2rem;
  }
  .navbar__menu-container_links {
    top: 60px;
  }
}
