@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
:root {
  --font-family: "Open Sans", sans-serif;

  --color-bg: #f6f6f6;
  --color-secondary: #48548b;
}
